<div class="container">
  <section class="header">
    <h1 class="title">Welcome, <%= @current_user.first_name %>!</h1>
    <%= button_to 'Logout', logout_path, method: :delete, class: 'button-primary' %>
  </section>
  <h4 class="title">Registered Users</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr data-test="user">
          <td><%= user.full_name %></td>
          <td><%= user.username %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
